body{
    background-image:url(port.jpg) ;
    background-color: rgb(195, 226, 216);

}
form{
    font-size: 30px;
    margin: 2px;
    color: rgb(23, 33, 35);
    position: relative;

  }
  img{
        width: 3cm;
        height: 3cm;
        position: center ;
      
      /*  top: 10cm; /* distancia desde la parte superior */
      /*  left: 5cm; /* distancia desde la izquierda */
      
  }
 h1{
    color: black;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


 }
input{
    background-color: rgb(252, 239, 223);

}

button{
    width: 3cm;
    height: 1.5cm;
    position: center;
    color: aliceblue;
background-color: rgb(90, 108, 106);
}
a{
    text-decoration:none; /* Elimina  subrayado */
    color: azure;
    font-size: 18px;
}
article{
    background-image: url(logo.png);
    background-repeat: no-repeat; /* NO REPITA LA IMAGEN DE  fondo*/
    width: 6.5cm;
    height: 3cm;
    position: center;
    background-size : cover;/* PARA Q LA IMAGEN CUBRA TODO EL ESPACIO*/
    
}